<h1>Edit Wiki</h1>

<div class="row">
  <%= form_for @wiki do |wiki| %>
    <div class="form-group">
      <%= wiki.label :title %>
      <%= wiki.text_field :title, class: 'form-control', placeholder: 'Enter Wiki Title' %>
    </div>
    <div class="form-group">
      <%= wiki.label :body %>
      <%= wiki.text_area :body, class: 'form-control', placeholder: 'Enter Wiki information here' %>
    </div>
    <div class="form-group">
      <%= wiki.label :private, class: 'checkbox' do %>
        <%= wiki.check_box :private %> Private topic
        <% end %>
      </div>
      <%= wiki.submit "Save", class: 'btn btn-success' %>
      <% end %>
</div>
