<h1>New Wiki</h1>

<div class="row">
  <%= simple_form_for @wiki do |wiki| %>
      <%= wiki.input :title, as: :text, placeholder: 'Enter Wiki Title', label_html: { class: 'form-control' } %>
      <%= wiki.input :body, as: :epic_editor, placeholder: 'Enter Wiki information here', label_html: { class: 'form-control' } %>
    <% if current_user.admin? || current_user.premium? %>
        <%= wiki.input :private, as: :check_boxes %>
    <% end %>
    <%= wiki.button :submit, label: "Save", label_html: { class: 'btn btn-success' } %>
  <% end %>
</div>
